body {
    font-family: Poppins, sans-serif;
    transition: .2s all ease;
}

.theme {
    color: rgb(5, 55, 121);
}

.navbar {
    top: 0;
    position: sticky;
    z-index: 2;
}

.navbar-brand img {
    float: left;
    height: 50px;
    width: 50px;
}

.navbar-brand {
    font-family: cursive;
    font-size: 10px;
}

.nav-link {
    font-size: 20px;
}

.nav-lg {
    float: left;
    font-size: 15px;
}

.nav-link:hover {
    font-size: 20px;
    color: #744ca2 !important;
}

img {
    width: 250px;
}

p {
    color: dimgray;
    text-align: ;
}

.my-p {
    text-align: justify;
}

.my-btn {
    border: 2px solid #744ca2;
    border-radius: 5px;
}

.my-btn:hover {
    color: white !important;
    background-color: #744ca2;
}