body {
    font-family: Poppins, sans-serif;
    transition: .2s all ease;
}

.theme {
    color: rgb(5, 55, 121);
}

.navbar {
    top: 0;
    position: sticky;
    z-index: 2;
}

.navbar-brand img {
    float: left;
    height: 50px;
    width: 50px;
}

.navbar-brand {
    /* font-family: cursive; */
    font-size: 10px;
}

.nav-link {
    font-size: 20px;
}

.nav-lg {
    float: left;
    font-size: 15px;
}

.nav-link:hover {
    font-size: 20px;
    color: rgb(5, 55, 121) !important;
}

.banner {
    color: white !important;
    background-color: rgb(5, 55, 121);
}

.banner h1 {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    line-height: 80px;
}

.banner h1 span {
    /* font-family: 'Lobster Two'; */
}

.banner-icon {
    color: white;
    font-size: 25px;
    margin: 100px 20px 20px 20px;
}

img {
    width: 250px;
}

p {
    color: dimgray;
    text-align: justify;
}

.my-p {
    text-align: justify;
}

.my-btn {
    color: rgb(5, 55, 121) !important;
    border: 2px solid rgb(5, 55, 121) !important;
    border-radius: 5px;
}

.my-btn:hover {
    color: white !important;
    background-color: rgb(5, 55, 121);
}

.contact {
    color: rgb(5, 55, 121);
    background-color: #deeffc;
}

.contact h2 {
    font-family: 'Lobster Two';
}

.contact .fa-solid,
.contact a {
    color: rgb(5, 55, 121) !important;
}

.contact a:hover {
    text-decoration: none;
}

.contact-icon {
    color: rgb(5, 55, 121);
    font-size: 25px;
    margin: 50px 20px 20px 10px;
}

.footer p {
    margin: auto;
}

.footer span {
    color: rgb(5, 55, 121);
}